div.header{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    background-color: aqua;
}
div.website-name-div{
    width: 25%;
}
div.name-div {
    width: 35%;
    margin-left: 30%;
}

h3#userName{
    text-align: right;
}

.cart-count, .cart-icon{
    vertical-align: top;
}

.cart-count{
    color: #fc5800;
    font-size: medium;
    font-weight: bolder;
    margin-left: 10%;

}